<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit book</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#"
			method="post">
			<input type="hidden" th:field="*{id}" class="form-control" />
			<input type="text" th:field="*{title}" /> 
			<input type="text" th:field="*{author}" /> 
			<input type="number" th:field="*{year}" />
			<input type="text" th:field="*{isbn}" /> 
			<input type="number" th:field="*{price}" />
			 <select name="cats" th:field="*{category}">
				<option th:each="category: ${categories}" th:value = "${category.categoryid}" th:text="${category.name}"></option>
			</select> 
			<input type="submit" class="btn btn-success" value="Save"></input> 
		</form>

	</div>
</body>
</html>